

@font-face {
    font-family: 'nunito_sans';
    src: url('../fonts/nunitosans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/nunitosans-semibold-webfont.woff') format('woff'),
    url('../fonts/nunitosans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/nunitosans-semibold-webfont.svg#nunito_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('roboto-medium-webfont.woff2') format('woff2'),
    url('roboto-medium-webfont.woff') format('woff'),
    url('roboto-medium-webfont.ttf') format('truetype'),
    url('roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;

}